.gitignore
.DS_Store
**/.DS_Store
__MACOSX/
.env
**/__pycache__/
**/*.pyc
memory_datasets/
dataset/
datasets/
archive/
annotations/
venv/
tasks/*.zip
brady_dataset.zip
logs/
models/**/*.pth
results/
results_archive/
